<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alpha.museum.museum">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/etil"
        android:label="@string/app_name"
        android:roundIcon="@drawable/etil"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MuseumProfile" />
        <activity android:name=".MonumentList" />

        <service android:name=".ListeningService" />
        <!--
        <service android:name=".ListeningService" tools:node="replace">
            <meta-data android:name="longScanForcingEnabled" android:value="true"/>
        </service>
        -->
        <activity android:name=".MonumentProfile" />
        <activity android:name=".BeaconActivity" />
        <activity android:name=".VRActivity" />
        <activity android:name=".Gallery360"/>

        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            tools:node="replace">
            <meta-data
                android:name="longScanForcingEnabled"
                android:value="true" />
        </service>
        <service
            android:name="org.altbeacon.beacon.service.ScanJob"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <meta-data
                android:name="immediateScanJobId"
                android:value="1000"
                tools:replace="android:value" />
            <meta-data
                android:name="periodicScanJobId"
                android:value="1001"
                tools:replace="android:value" />
        </service>
    </application>

</manifest>